{% extends "base.html" %}
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'rest' slug=object.slug %}">Сейчас</a></li>
        <li><a href="{% url 'orders' slug=object.slug %}">Заказы</a></li>
        <li><a href="#">Инвентаризации</a></li>
        <li><a href="{% url 'products' slug=object.slug %}">Позиции</a></li>
        <li><a href="{% url 'checkout' slug=object.slug %}">Расход</a></li>

    </ul>

{% endblock %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Расходник</th>
                <th>Расход</th>
                <th>Приход</th>
                <th>Остаток</th>
            </tr>
            {% for cons in result %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ cons.0.name }}</td>
                    <td>{{ cons.1 }}</td>
                    <td>{{ cons.2 }}</td>
                    <td>{{ cons.3 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}